@import "https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,700";

@-webkit-keyframes slideUpContent {
  0%, 25% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  75%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpContent {
  0%, 25% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  75%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideDownHero {
  0%, 25% {
    -webkit-transform: translate(-50%, -250%);
            transform: translate(-50%, -250%);
    opacity: 0;
  }
  75%, 100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes slideDownHero {
  0%, 25% {
    -webkit-transform: translate(-50%, -250%);
            transform: translate(-50%, -250%);
    opacity: 0;
  }
  75%, 100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 1.25em !important;
  }
}


.button {
  display: inline-block;
  padding: 0.75em 1em;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
}
.button:hover {
  background: white;
  color: black;
}

h1 {
  margin-top: -0.2em;
  padding-bottom: 0.25em;
}

.wrapper {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-wrapper {
  position: relative;
  width: 100%;
  height: 80vh;
  min-height: 475px;
  overflow: hidden;
  color: white;
}
.header-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
}
.header-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background-size: cover;
  background-position: center;
  z-index: -2;
}
.header-wrapper .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.header-wrapper .header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/pallets-close.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  z-index: -1;
}
.header-wrapper .hero {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-animation: 0.75s  slideDownHero;
          animation: 0.75s  slideDownHero;
}
.header-wrapper .hero header {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0em;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
}
.header-wrapper .hero subhead {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
}
.header-wrapper .hero .cta {
  display: block;
  margin: 1em auto;
  max-width: 200px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
}
.header-wrapper .logo {
  display: inline-block;
  margin: 0.5em auto;
  background: white;
  padding: 1em;
  padding-bottom: 0.75em;
  color: black;
  font-size: 2em;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
}
.header-wrapper .logo div {
  font-size: 3em;
  line-height: 0.75em;
}
.header-wrapper .logo span {
  font-size: 0.75em;
  position: relative;
  background: white;
  padding: 0.4em;
  z-index: 1;
}
.header-wrapper .logo span:after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 0.075em;
  width: 125%;
  background: black;
  z-index: -1;
}
.header-wrapper .nav {
  z-index: 2;
  margin: 0 auto;
  padding: 1em;
  max-width: 1280px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header-wrapper .nav .links {
  display: inline-block;
  float: right;
  margin-top: 0.5em;
}
@media (max-width: 768px) {
  .header-wrapper .nav .links {
    display: none;
  }
}
.header-wrapper .nav .links .link {
  display: inline-block;
  margin-left: 0.5em;
  position: relative;
  cursor: pointer;
  font-weight: 400;
}
.header-wrapper .nav .links .link:after {
  content: "";
  position: absolute;
  bottom: -0.25em;
  left: 0;
  width: 0%;
  height: 0.075em;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header-wrapper .nav .links .link:hover:after {
  content: "";
  width: 100%;
}
.header-wrapper .nav .links .link:last-of-type {
  margin-right: 0;
}

.menu-open {
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
}
@media (max-width: 768px) {
  .menu-open {
    -webkit-transform: translateX(-260px);
            transform: translateX(-260px);
  }
}

.mobile {
  display: none;
  float: right;
  font-size: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 768px) {
  .mobile {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.off-canvas-menu {
  position: fixed;
  width: 400px;
  height: 100%;
  min-height: 100vh;
  top: 0;
  right: -400px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: inset 6px 0px 10px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 768px) {
  .off-canvas-menu {
    width: 260px;
    right: -260px;
  }
}
.off-canvas-menu .link {
  padding: 1em;
  width: 100%;
  color: black;
  border-bottom: 1px solid black;
}
.off-canvas-menu .link a {
  text-decoration: none;
}

.body-wrapper {
  margin: 0 auto;
  -webkit-animation: 0.75s slideUpContent;
          animation: 0.75s slideUpContent;
}
.body-wrapper > div > div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
}
@media (max-width: 550px) {
  .body-wrapper > div > div {
    padding: 1em;
  }
}
.body-wrapper .about {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
}
@media (max-width: 768px) {
  .body-wrapper .about {
    max-width: none;
  }
}
.body-wrapper .suppliers {
  color: white;
  background: black;
}
.body-wrapper .suppliers > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-wrapper .suppliers > div .left {
  padding-right: 0.5em;
}
.body-wrapper .suppliers > div .left ul {
  padding: 1em;
}
.body-wrapper .suppliers > div .right {
  padding-left: 0.5em;
}
@media (max-width: 768px) {
  .body-wrapper .suppliers > div {
    display: block;
  }
  .body-wrapper .suppliers > div .left, .body-wrapper .suppliers > div .right {
    padding: 0;
  }
  .body-wrapper .suppliers > div .left ul {
    padding: 0.5em 1em;
  }
}
.body-wrapper .contact {
  position: relative;
  background: rgba(0, 0, 0, 0.65);
  color: white;
}
.body-wrapper .contact .contact-background {
  position: absolute;
  max-width: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/241793/tall-pallets.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  z-index: -1;
}
.body-wrapper .contact .contact-header {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
  text-align: center;
}
.body-wrapper .contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.body-wrapper .contact > div .info {
  margin-top: 2em;
  padding-left: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: white;
  text-align: center;
}
.body-wrapper .contact > div .info div {
  margin: 0.7em 0;
  font-size: 1.5em;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
}
.body-wrapper .contact > div .info div i {
  vertical-align: middle;
}
.body-wrapper .contact > div .info div a {
  text-decoration: none;
}
.body-wrapper .contact > div .form {
  padding-right: 0.5em;
  padding-bottom: 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.body-wrapper .contact > div .form .msg {
  position: absolute;
}
.body-wrapper .contact > div .form .msg i {
  cursor: pointer;
}
.body-wrapper .contact > div .form input, .body-wrapper .contact > div .form textarea {
  display: block;
  margin: 0.5em auto;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.75em;
  background: rgba(175, 175, 175, 0.25);
  border: 1px solid white;
  border-radius: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
  color: white;
  resize: vertical;
  font: 300 1em "Cormorant Garamond";
  max-width: 900px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
}
.body-wrapper .contact > div .form input:hover, .body-wrapper .contact > div .form input:focus, .body-wrapper .contact > div .form textarea:hover, .body-wrapper .contact > div .form textarea:focus {
  background: white;
  color: black;
}
.body-wrapper .contact > div .form input:hover::-webkit-input-placeholder, .body-wrapper .contact > div .form input:focus::-webkit-input-placeholder, .body-wrapper .contact > div .form textarea:hover::-webkit-input-placeholder, .body-wrapper .contact > div .form textarea:focus::-webkit-input-placeholder {
  color: black;
}
.body-wrapper .contact > div .form input:hover::-moz-placeholder, .body-wrapper .contact > div .form input:focus::-moz-placeholder, .body-wrapper .contact > div .form textarea:hover::-moz-placeholder, .body-wrapper .contact > div .form textarea:focus::-moz-placeholder {
  color: black;
}
.body-wrapper .contact > div .form input:hover:-ms-input-placeholder, .body-wrapper .contact > div .form input:focus:-ms-input-placeholder, .body-wrapper .contact > div .form textarea:hover:-ms-input-placeholder, .body-wrapper .contact > div .form textarea:focus:-ms-input-placeholder {
  color: black;
}
.body-wrapper .contact > div .form input:hover::placeholder, .body-wrapper .contact > div .form input:focus::placeholder, .body-wrapper .contact > div .form textarea:hover::placeholder, .body-wrapper .contact > div .form textarea:focus::placeholder {
  color: black;
}
.body-wrapper .contact > div .form input::-webkit-input-placeholder, .body-wrapper .contact > div .form textarea::-webkit-input-placeholder {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
}
.body-wrapper .contact > div .form input::-moz-placeholder, .body-wrapper .contact > div .form textarea::-moz-placeholder {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
}
.body-wrapper .contact > div .form input:-ms-input-placeholder, .body-wrapper .contact > div .form textarea:-ms-input-placeholder {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
}
.body-wrapper .contact > div .form input::placeholder, .body-wrapper .contact > div .form textarea::placeholder {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
}
.body-wrapper .contact > div .form .button {
  text-align: left;
  background: transparent;
}
@media (max-width: 768px) {
  .body-wrapper .contact > div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .body-wrapper .contact > div .info, .body-wrapper .contact > div .form {
    padding: 0;
    width: 100%;
  }
  .body-wrapper .contact > div .info {
    margin-top: 0.75em;
  }
  .body-wrapper .contact > div .form {
    width: 100%;
  }
}
.body-wrapper .location {
  width: 100%;
  margin: 0 auto;
}
.body-wrapper .location #map {
  width: 100%;
  height: 45em;
  max-width: none;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  color: white;
}
.footer-wrapper > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1em;
}
.footer-wrapper .social {
  text-align: right;
}
.footer-wrapper .social a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer-wrapper .social a:hover {
  color: #b3b3b3;
}

